body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 1124px;
}

.item-counter {
    margin: 0 auto;
    width: 1024px;
}

.counter {
    margin-bottom: 36px;
    text-align: center;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}

.btn-counter {
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 500px;
    height: 100px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #4191FF;
    transition: all .3s ease;
}

.btn-counter:active {
    transform: scale(0.96);
}

.btn-reset {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    border: none;
    color: #FFFFFF;
    background: #D45366;
    border-radius: 20px;
    transition: all .3s ease;
}

.btn-reset:active {
    transform: scale(0.96);
}

@media (max-width: 768px) {
    .item-counter {
        padding-left: 15px;
        padding-right: 15px;
    }

    .counter {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 20px;
    }

    .btn-counter {
        margin-bottom: 30px;
        width: 100%;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
    }

    .btn-reset {
        width: 100%;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
    }
}